/* CSS 작성 */

div {

  margin-bottom: 10px;

}

#vamos {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
}

.maintot {
  width: 100%;

  display: flex;
  justify-content: space-between;
}


.main-top {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  flex-direction: row;

}

.main-top-left {
  width: 117;
  height: 28;
  color: black;

}

.main-top-center {
  width: 2;
  height: 100%;
  color: gray;
}

.main-top-right {
  width: 227;
  height: 18;
  color: gray;
  letter-spacing: 0;
}

.button1 {
  position: relative;
  margin-right: 20px;

}

.button2 {
  position: absolute;
  top: 230px;
  left: 10px;
}

.button3 {
  position: absolute;
  top: 220px;
  left: 15px;
  width: 40px;
  height: 40px;

  transition-property: all;
  transition-duration: 0s;
}

.button3:hover {
  width: 120px;
  height: 40px;
  background-color: rgb(60, 60, 240);
  border: 2px solid rgb(94, 94, 224);
  color: white;
}

.button3:focus {
  width: 120px;
  height: 40px;
  background-color: rgb(60, 60, 240);
  border: 2px solid rgb(94, 94, 224);
  color: white;
}

.button3:hover:before {
  content: '구매하기';
}

button {
  background-color: hwb(0 96% 2% / 0.911);
}

.main-center-top {
  display: flex;
}

.main-center-center {
  display: flex;

}

.main-center-bottom {
  display: flex;
}